body {
  font-family: "Lato", sans-serif; }

.is-PtSans {
  font-family: "PT Sans", sans-serif; }

.is-Lato {
  font-family: "Lato", sans-serif; }

.is-bold {
  font-weight: bold; }

.shop-button {
  border-radius: 0;
  background-color: #989898;
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 35px;
  padding: 5px 30px; }
  @media screen and (max-width: 767px) {
    .shop-button {
      font-size: 16px; } }

.btn.focus,
.btn:focus,
.btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #757575; }

.navbar-default {
  background-color: #fff;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #000000;
  letter-spacing: 0.1em;
  padding: 5px 25px;
  border: 2px solid #fff; }
  @media (max-width: 479px) {
    .navbar-default .navbar-nav > li > a {
      padding: 5px 10px; } }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #000000;
  background-color: transparent;
  font-weight: bold;
  border: 2px solid #e8e8e8; }

.navbar-right {
  margin-right: 0; }

@media (max-width: 767px) {
  .navbar-brand {
    display: block;
    float: none; }
    .navbar-brand img {
      margin: 0 auto; } }

@media (max-width: 767px) {
  .navbar-nav {
    margin-top: 70px;
    text-align: center; } }

@media (max-width: 320px) {
  .navbar-nav {
    font-size: 13px; } }

@media (max-width: 767px) {
  .nav .nav-item {
    display: inline-block;
    padding: 0; } }

.nav .nav-item .nav-item-link {
  letter-spacing: 0.1em; }

.main-header {
  padding: 70px 90px;
  line-height: 1.5em; }
  @media screen and (max-width: 991px) {
    .main-header {
      padding: 40px 30px;
      line-height: 1.3em;
      font-size: 27px; } }
  @media screen and (max-width: 767px) {
    .main-header {
      padding: 10px 30px 0 30px;
      line-height: 1.4em;
      font-size: 25px; } }
  @media screen and (max-width: 479px) {
    .main-header {
      padding: 10px 20px 0 20px;
      font-size: 22px; } }

.section-title {
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 55px; }
  @media screen and (max-width: 991px) {
    .section-title {
      font-size: 35px; } }

.section-text {
  font-size: 19px;
  line-height: 1.5em; }
  @media screen and (max-width: 991px) {
    .section-text {
      font-size: 17px; } }
  @media screen and (max-width: 767px) {
    .section-text {
      font-size: 16px; } }

@media screen and (max-width: 767px) {
  .hello-section {
    padding: 15px 30px; } }

@media screen and (max-width: 767px) {
  .first-section .container {
    text-align: center; } }

.first-section .section-text {
  font-family: "PT Sans", sans-serif; }

@media screen and (max-width: 767px) {
  .first-section .first-section-text {
    padding: 15px 30px; } }

.first-section .first-section-img {
  margin-bottom: -80px; }
  @media screen and (max-width: 1199px) {
    .first-section .first-section-img {
      width: 90%; } }
  @media screen and (max-width: 767px) {
    .first-section .first-section-img {
      width: 60%;
      margin-bottom: 20px; } }

.first-section .section-text {
  padding: 57px 30px 0 90px; }
  @media screen and (max-width: 991px) {
    .first-section .section-text {
      padding: 15px 15px 20px 30px; } }
  @media screen and (max-width: 767px) {
    .first-section .section-text {
      padding: 15px 30px 10px 30px; } }
  @media screen and (max-width: 479px) {
    .first-section .section-text {
      padding: 15px 20px 10px 20px; } }

@media screen and (max-width: 767px) {
  .second-section {
    margin-bottom: 40px; } }

.second-section .container {
  background-color: #f6f8f0;
  padding: 25px 80px 30px 80px; }
  @media screen and (max-width: 991px) {
    .second-section .container {
      padding: 25px 50px 30px 50px; } }
  .second-section .container .icon-container {
    text-align: center;
    margin-bottom: 40px; }
    @media screen and (max-width: 991px) {
      .second-section .container .icon-container .second-section-img {
        width: 60%; } }
    @media screen and (max-width: 767px) {
      .second-section .container .icon-container .second-section-img {
        width: 30%; } }
    @media screen and (max-width: 479px) {
      .second-section .container .icon-container .second-section-img {
        width: 50%; } }
  .second-section .container .section-text {
    padding: 0 70px; }
    @media screen and (max-width: 1199px) {
      .second-section .container .section-text {
        padding: 0 50px; } }
    @media screen and (max-width: 991px) {
      .second-section .container .section-text {
        padding: 0 15px; } }
    @media screen and (max-width: 767px) {
      .second-section .container .section-text {
        margin-bottom: 30px; } }
    @media screen and (max-width: 479px) {
      .second-section .container .section-text {
        margin-bottom: 25px;
        padding: 0; } }
  @media screen and (max-width: 767px) {
    .second-section .container .section-title {
      margin-bottom: 20px; } }

.pattern .pattern-img {
  padding: 50px 30px; }
  @media screen and (max-width: 767px) {
    .pattern .pattern-img {
      display: none; } }

.shop {
  margin-bottom: 85px; }
  @media screen and (max-width: 767px) {
    .shop {
      margin-bottom: 45px; } }
  .shop .container {
    background: url("../img/tlo_sklep.jpg") no-repeat center center;
    background-size: cover;
    height: 462px;
    padding: 40px; }
    @media screen and (max-width: 991px) {
      .shop .container {
        height: 350px;
        padding: 20px 34px 40px 120px; } }
    @media screen and (max-width: 536px) {
      .shop .container {
        padding: 20px 34px 40px 100px; } }
    @media screen and (max-width: 479px) {
      .shop .container {
        height: 400px;
        padding: 20px 34px 40px 34px; }
        .shop .container .row {
          margin-left: 0;
          margin-right: 0; } }
    .shop .container .shop-container .section-text {
      margin-bottom: 75px;
      padding-right: 30px; }
      @media screen and (max-width: 991px) {
        .shop .container .shop-container .section-text {
          margin-bottom: 30px; } }
      @media screen and (max-width: 479px) {
        .shop .container .shop-container .section-text {
          padding-right: 0; } }
    @media screen and (max-width: 991px) {
      .shop .container .shop-container .section-title {
        margin-bottom: 25px; } }
    .shop .container .shop-container .shop-button {
      margin-right: 30px; }

.shop-grid .row {
  margin-bottom: 70px; }
  @media screen and (max-width: 991px) {
    .shop-grid .row {
      margin-bottom: 40px; } }

.shop-grid .shop-grid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #e8e8e8;
  width: 484px;
  margin: 0 auto; }
  @media screen and (max-width: 1199px) {
    .shop-grid .shop-grid-content {
      max-width: 450px; } }
  @media screen and (max-width: 991px) {
    .shop-grid .shop-grid-content {
      max-width: 350px; } }
  @media screen and (max-width: 767px) {
    .shop-grid .shop-grid-content {
      max-width: 100%;
      margin-bottom: 0; } }
  .shop-grid .shop-grid-content .shop-grid-title {
    text-transform: uppercase;
    margin: 46px 40px;
    font-size: 40px; }
    @media screen and (max-width: 1199px) {
      .shop-grid .shop-grid-content .shop-grid-title {
        margin: 36px 40px; } }
    @media screen and (max-width: 991px) {
      .shop-grid .shop-grid-content .shop-grid-title {
        font-size: 30px;
        margin: 25px 32px; } }
  .shop-grid .shop-grid-content .pattern-img {
    margin-bottom: 60px; }
    @media screen and (max-width: 1199px) {
      .shop-grid .shop-grid-content .pattern-img {
        margin-bottom: 50px; } }
    @media screen and (max-width: 991px) {
      .shop-grid .shop-grid-content .pattern-img {
        margin-bottom: 28px;
        width: 40%; } }

.shop-grid .photo-container {
  text-align: center;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .shop-grid .photo-container .shop-img {
      height: 460px;
      max-width: 460px; } }
  @media screen and (max-width: 1199px) {
    .shop-grid .photo-container .shop-img {
      max-width: 450px; } }
  @media screen and (max-width: 991px) {
    .shop-grid .photo-container .shop-img {
      max-width: 350px; } }
  @media screen and (max-width: 767px) {
    .shop-grid .photo-container .shop-img {
      display: none; } }
  .shop-grid .photo-container .image-on {
    display: none;
    position: absolute; }
    @media screen and (min-width: 1200px) {
      .shop-grid .photo-container .image-on {
        top: 50%;
        left: 42%; } }
    @media screen and (max-width: 1199px) {
      .shop-grid .photo-container .image-on {
        top: 46%;
        left: 39%; } }
    @media screen and (max-width: 991px) {
      .shop-grid .photo-container .image-on {
        top: 46%;
        left: 37%; } }
  .shop-grid .photo-container .shop-img:hover + .image-on {
    display: block; }

.footer {
  background-color: #e8e8e8;
  padding: 60px 0; }
  @media screen and (max-width: 767px) {
    .footer .icons {
      text-align: center;
      margin-bottom: 20px; } }
  @media screen and (max-width: 767px) {
    .footer .rights {
      text-align: center; } }
  .footer .social a {
    margin-right: 10px; }
  .footer .social .icon {
    width: 30px; }
  .footer .made-by {
    color: #000000; }

.path {
  opacity: 1; }

.path1, .path2, .path3, .path4 {
  opacity: 0; }

.path .path1, .path2, .path3, .path4 {
  z-index: 1; }

.animate .path1 {
  animation: wood-anime .5s linear .4s normal 2; }

.animate .path2 {
  animation: wood-anime .5s linear .2s normal 2; }

.animate .path3 {
  animation: wood-anime .5s linear .1s normal 2; }

.animate .path4 {
  animation: wood-anime .5s linear  normal 2; }

.photo-container:hover .image-on .path {
  animation: wave-anime 1.2s  normal 1; }

.photo-container:hover .image-on .path1 {
  animation: wood-anime .5s linear .4s normal 2; }

.photo-container:hover .image-on .path2 {
  animation: wood-anime .5s linear .2s normal 2; }

.photo-container:hover .image-on .path3 {
  animation: wood-anime .5s linear .1s normal 2; }

.photo-container:hover .image-on .path4 {
  animation: wood-anime .5s linear .2s normal 2; }

@keyframes wave-anime {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes wood-anime {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 0; } }

.path .path1, .path2, .path3, .path4 {
  z-index: 1; }

.shop-grid-content #Layer_2 {
  opacity: 0; }

.shop-grid-content:hover #Layer_2 {
  opacity: 1; }

.shop-grid-content #Layer_3 {
  opacity: 0; }

.shop-grid-content:hover #Layer_3 {
  opacity: 1; }

.shop-grid-content #Layer_4 {
  opacity: 0; }

.shop-grid-content:hover #Layer_4 {
  opacity: 1; }

.shop-grid-content #Layer_5 {
  opacity: 0; }

.shop-grid-content:hover #Layer_5 {
  opacity: 1; }

.shop-grid-content #Layer_6 {
  opacity: 0; }

.shop-grid-content:hover #Layer_6 {
  opacity: 1; }

.shop-grid-content #Layer_2 path {
  opacity: 0; }

.shop-grid-content:hover #Layer_2 path {
  animation: pot-plant-anime .5s linear normal 1; }

.shop-grid-content #Layer_3 path {
  opacity: 0; }

.shop-grid-content:hover #Layer_3 path {
  animation: pot-plant-anime .8s linear .2s normal 1; }

.shop-grid-content #Layer_4 path {
  opacity: 0; }

.shop-grid-content:hover #Layer_4 path {
  animation: pot-plant-anime .8s linear .4s normal 1; }

.shop-grid-content #Layer_5 path {
  opacity: 1; }

.shop-grid-content:hover #Layer_5 path {
  animation: pot-wave-anime 1s linear normal 1; }

.shop-grid-content #Layer_6 path {
  opacity: 1; }

.shop-grid-content:hover #Layer_6 path {
  animation: pot-wave-anime 1.2s linear normal 1; }

@keyframes pot-wave-anime {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pot-plant-anime {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 0; } }

.shop-grid-content #end_7 {
  opacity: 0; }

.shop-grid-content:hover #end_7 {
  opacity: 1; }
  .shop-grid-content:hover #end_7 path {
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    animation: dash 1s linear normal 1; }

.shop-grid-content #weed_1 {
  opacity: 0; }

.shop-grid-content:hover #weed_1 {
  opacity: 1; }
  .shop-grid-content:hover #weed_1 path {
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
    animation: dash 2s linear normal 1; }

.shop-grid-content #weed_2 {
  opacity: 0; }

.shop-grid-content:hover #weed_2 {
  opacity: 1; }
  .shop-grid-content:hover #weed_2 path {
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
    animation: dash 2s linear normal 1; }

.shop-grid-content #weed_3 {
  opacity: 0; }

.shop-grid-content:hover #weed_3 {
  opacity: 1; }
  .shop-grid-content:hover #weed_3 path {
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
    animation: dash 2s linear normal 1; }

.shop-grid-content:hover #weed_3 path {
  animation-delay: .5s; }

.shop-grid-content:hover #weed_2 path {
  animation-delay: .3s; }

@keyframes dash {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: 200; }
  to {
    stroke-dasharray: 160;
    stroke-dashoffset: 0; } }

@keyframes colorize {
  0% {
    fill: #000; }
  50% {
    fill: #a2ab8a; }
  100% {
    fill: #000; } }

.cookies-container {
  display: none;
  position: absolute;
  top: 0;
  opacity: 0.5;
  background-color: #373D3F;
  color: red; }

.no-js-cookies-container {
  position: absolute;
  top: 0;
  opacity: 0.5;
  background-color: #373D3F;
  color: red; }
  .no-js-cookies-container .no-js-cookies-input {
    display: none; }
    .no-js-cookies-container .no-js-cookies-input:checked ~ .no-js-cookies-info {
      display: none; }
  .no-js-cookies-container .no-js-cookies-info {
    display: block; }
