.cookies-container {
  display: none; // to musi zostać
  position: fixed;
  bottom:0;
  right: 0;
  width: 220px;
  background-color: $white;
  color: $black;
  text-align: right;
  border: 3px solid $light-grey;
  padding: 12px 15px;
  z-index: 10;

  p {
    color: $black;
    font-weight: 600;
    text-align: center;
    font-family: $Lato;
    margin: auto;
  }
  a {
    color: 	$black;
    margin: 10px;
    font-style: italic;
  }

  button {
    background-color: #989898;
    color: $white;
    border: 3px solid white;
    font-size: small;
    font-weight: 600;

    p {
      font-family: $Lato;
      margin: auto;
    }
    a {
      color: $black;
      margin: 10px;
      font-style: italic;
    }

    &:hover {
      cursor: pointer;
      background-color: $white;
      border: 3px solid $light-grey;
      color: $black;
    }
  }

  @media screen and (max-width: $max-width-xs) {
    width: 100vw;
  }
}

.no-js-cookies-container {
  display: none; // to musi zostać
  position: fixed;
  bottom:0;
  right: 0;
  width: 220px;
  background-color: $white;
  color: $black;
  text-align: right;
  border: 3px solid $light-grey;
  padding: 12px 15px;
  z-index: 10;

  .no-js-cookies-input { //to wszystko musi zostać
    display: none;
    &:checked ~ .no-js-cookies-info {
      display: none;
    }
  }
  .no-js-cookies-info {
    display: block;
  }

  .no-js-cookies-label {
    background-color: #989898;
    color: $white;
    border: 3px solid transparent;
    font-size: small;
    font-weight: 600;

    p {
      font-family: $Lato;
      margin: auto;
    }
    a {
      color: $black;
      margin: 10px;
      font-style: italic;
    }

    &:hover {
      cursor: pointer;
      background-color: $white;
      border: 3px solid $light-grey;
      color: $black;
    }
  }
}