.navbar-default {
    background-color: $white;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: $black;
    letter-spacing: 0.1em;
    padding: 5px 25px;
    border: 2px solid $white;

    @media (max-width: $max-width-xxs) {
        padding: 5px 10px;
    }
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: $black;
    background-color: transparent;
    font-weight: bold;
    border: 2px solid $light-grey;
}

.navbar-right {
    margin-right: 0;
}

.navbar-brand {
    @media (max-width: $max-width-xs) {
        display: block;
        float: none;
        img {
            margin: 0 auto;
        }
    }
}

.navbar-nav {
    @media (max-width: $max-width-xs) {
        margin-top: 70px;
        text-align: center;
    }
    @media (max-width: 320px) {
        font-size: 13px;
    }
}

.nav {
  .nav-item {
    @media (max-width: $max-width-xs) {
      display: inline-block;
      padding: 0;
    }

    .nav-item-link {
      letter-spacing: 0.1em;
    }
  }
}