// ======= plant-icon

.shop-grid-content {
  #end_7 {
    opacity: 0;
  }
}
.shop-grid-content:hover #end_7 {
  opacity: 1;
  path {
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
    animation: dash 2s linear normal 1;
  }
}

@for $i from 1 through 3 {
  .shop-grid-content #weed_#{$i} {
    opacity: 0;
  }
  .shop-grid-content:hover #weed_#{$i} {
    opacity: 1;
    path {
      stroke-dasharray: 160;
      stroke-dashoffset: 160;
      animation: dash 2s linear alternate infinite;
    }
  }
}

.shop-grid-content:hover #weed_3 {
  path {
    animation-delay: .5s;
  }
}

.shop-grid-content:hover #weed_2 {
  path {
    animation-delay: .3s;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 160;
    stroke-dashoffset: 160;
  }
  50% {
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
  }
}

@keyframes colorize {
  0% {
    fill: #000;
  }
  50% {
    fill: $dark-green;
  }
  100% {
    fill: #000;
  }
}