// ======= plant-icon

@for $i from 1 through 3 {
  .shop-grid-content #weed_#{$i} {
    opacity: 0;
  }
  .shop-grid-content:hover #weed_#{$i} {
    opacity: 1;
  }
}

.shop-grid-content {
  #end_7 {
    opacity: 0;
  }
}
.shop-grid-content:hover #end_7 {
  opacity: 1;
}

.shop-grid-content {
  #weed_1 path {
    opacity: 0;
  }
}

.shop-grid-content:hover #weed_1 path {
  animation: pot-plant-anime .5s linear normal 1;
}

.shop-grid-content {
  #weed_2 path {
    opacity: 0;
  }
}
.shop-grid-content:hover #weed_2 path {
  animation: pot-plant-anime .8s linear .2s normal 1;
}

.shop-grid-content {
  #weed_3 path {
    opacity: 0;
  }
}

.shop-grid-content:hover #weed_3 path {
  animation: pot-plant-anime .8s linear .4s normal 1;
}


@keyframes wave-anime {
  0% { opacity: 0;}
  50% { opacity: .5; }
  100% { opacity: 1; }
}

@keyframes pot-wave-anime {
  0% { opacity: 0;}
  70% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes wood-anime {
   0% { opacity: 0; }
   50% { opacity: .8; }
   100% { opacity: 0; }
 }

@keyframes pot-plant-anime {
  0% { opacity: 0; }
  50% { opacity: .8; }
  100% { opacity: 0; }
}