// ======= wood-icon

.wood-container {
  #wood-pattern {
    #contour1, #SVGID_1_ {
      transition: r .5s;
    }
  }
}

.wood-container:hover {
  #wood-pattern {
    cursor: pointer;
    #contour1, #SVGID_1_ {
      r: 60;
      animation: contour-anime 2.5s linear infinite;
      //animation-direction: alternate;
    }
  }
}

@keyframes contour-anime {
  0% {
    cx: 88.408;
    cy: 87.957;
  }
  10% {
    cx: 65;
    cy: 65;
  }
  36% {
    cx: 110;
    cy: 70;
  }
  75% {
    cx: 67;
    cy: 112;
  }
  90% {
    cx: 110;
    cy: 112;
  }
  100% {
    cx: 88.408;
    cy: 87.957;
  }
}

